.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

node_modules/
frontend-react/node_modules/
.env
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
